In [104]:
#Import libraries
import sqlite3
import pandas as pd
import openpyxl

In [105]:

# Establish Database Connection
con = sqlite3.connect('products.db')
cur = con.cursor()

# Read the CSV file into a DataFrame with the specified encoding
df = pd.read_csv('Sample-Superstore.csv', encoding='latin-1')

In [106]:
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [107]:
#let's take one potential table as an example
orders = df[["Order ID", "Customer ID", "Order Date", "Ship Date"]]

#convert datatypes 
orders = orders.astype({
    'Order ID': 'string',
    'Customer ID': 'string',
    'Order Date': 'datetime64',
    'Ship Date': 'datetime64',

})

orders.dtypes

Order ID               string
Customer ID            string
Order Date     datetime64[ns]
Ship Date      datetime64[ns]
dtype: object

In [ ]:
#now that we're sure, let's convert

orders.to_sql('csv_orders', con, if_exists='replace', index=False)

9994

In [ ]:


# Establish a connection to the SQLite database
con = sqlite3.connect("products.db")

# Read the "csv_orders" table into a DataFrame
df = pd.read_sql("SELECT * FROM csv_orders", con)

# Display the DataFrame
print(df)

            Order ID Customer ID           Order Date            Ship Date
0     CA-2016-152156    CG-12520  2016-11-08 00:00:00  2016-11-11 00:00:00
1     CA-2016-152156    CG-12520  2016-11-08 00:00:00  2016-11-11 00:00:00
2     CA-2016-138688    DV-13045  2016-06-12 00:00:00  2016-06-16 00:00:00
3     US-2015-108966    SO-20335  2015-10-11 00:00:00  2015-10-18 00:00:00
4     US-2015-108966    SO-20335  2015-10-11 00:00:00  2015-10-18 00:00:00
...              ...         ...                  ...                  ...
9989  CA-2014-110422    TB-21400  2014-01-21 00:00:00  2014-01-23 00:00:00
9990  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9991  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9992  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9993  CA-2017-119914    CC-12220  2017-05-04 00:00:00  2017-05-09 00:00:00

[9994 rows x 4 columns]

In [ ]:
# Perform SQL query
query = "SELECT * FROM csv_orders"
result = pd.read_sql_query(query, con)

# Print the result
print(result)

# Close the database connection
con.close()

            Order ID Customer ID           Order Date            Ship Date
0     CA-2016-152156    CG-12520  2016-11-08 00:00:00  2016-11-11 00:00:00
1     CA-2016-152156    CG-12520  2016-11-08 00:00:00  2016-11-11 00:00:00
2     CA-2016-138688    DV-13045  2016-06-12 00:00:00  2016-06-16 00:00:00
3     US-2015-108966    SO-20335  2015-10-11 00:00:00  2015-10-18 00:00:00
4     US-2015-108966    SO-20335  2015-10-11 00:00:00  2015-10-18 00:00:00
...              ...         ...                  ...                  ...
9989  CA-2014-110422    TB-21400  2014-01-21 00:00:00  2014-01-23 00:00:00
9990  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9991  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9992  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9993  CA-2017-119914    CC-12220  2017-05-04 00:00:00  2017-05-09 00:00:00

[9994 rows x 4 columns]

In [109]:
# Select the desired columns from the original DataFrame
Superstore = df[["Order ID", "Order Date", "Ship Date", "Ship Mode", "Customer ID", "Customer Name", "Segment", "Country", "City", "Postal Code", "Region", "Product ID", "Category", "Sub-Category", "Product Name", "Sales", "Quantity", "Discount", "Profit"]]

# Specify data types for all columns
data_types = {
    "Order ID": 'int',
    "Order Date": 'str',
    "Ship Date": 'str',
    "Ship Mode": 'str',
    "Customer ID": 'str',
    "Customer Name": 'str',
    "Segment": 'str',
    "Country": 'str',
    "City": 'str',
    "Postal Code": 'int',
    "Region": 'str',
    "Product ID": 'str',
    "Category": 'str',
    "Sub-Category": 'str',
    "Product Name": 'str',
    "Sales": 'float',
    "Quantity": 'int',
    "Discount": 'float',
    "Profit": 'float'
}

Superstore.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [110]:
#Convert data to SQL


Superstore.to_sql('csv_superstore', con, if_exists='replace', index=False)

9994

In [111]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect("products.db")

# Read the "csv_orders" table into a DataFrame
df = pd.read_sql("SELECT * FROM csv_superstore", con)

# Display the DataFrame
print(df)

            Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0     CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1     CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2     CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3     US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4     US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
...              ...         ...         ...             ...         ...
9989  CA-2014-110422   1/21/2014   1/23/2014    Second Class    TB-21400
9990  CA-2017-121258   2/26/2017    3/3/2017  Standard Class    DB-13060
9991  CA-2017-121258   2/26/2017    3/3/2017  Standard Class    DB-13060
9992  CA-2017-121258   2/26/2017    3/3/2017  Standard Class    DB-13060
9993  CA-2017-119914    5/4/2017    5/9/2017    Second Class    CC-12220

         Customer Name    Segment        Country             City  \
0          Claire Gute   Consumer  United States        Henderson
1          Claire Gute   Consumer  United States        Henderson
2      Darrin Van Huff  Corporate  United States      Los Angeles
3       Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       Sean O'Donnell   Consumer  United States  Fort Lauderdale
...                ...        ...            ...              ...
9989  Tom Boeckenhauer   Consumer  United States            Miami
9990       Dave Brooks   Consumer  United States       Costa Mesa
9991       Dave Brooks   Consumer  United States       Costa Mesa
9992       Dave Brooks   Consumer  United States       Costa Mesa
9993      Chris Cortes   Consumer  United States      Westminster

      Postal Code Region       Product ID         Category Sub-Category  \
0           42420  South  FUR-BO-10001798        Furniture    Bookcases
1           42420  South  FUR-CH-10000454        Furniture       Chairs
2           90036   West  OFF-LA-10000240  Office Supplies       Labels
3           33311  South  FUR-TA-10000577        Furniture       Tables
4           33311  South  OFF-ST-10000760  Office Supplies      Storage
...           ...    ...              ...              ...          ...
9989        33180  South  FUR-FU-10001889        Furniture  Furnishings
9990        92627   West  FUR-FU-10000747        Furniture  Furnishings
9991        92627   West  TEC-PH-10003645       Technology       Phones
9992        92627   West  OFF-PA-10004041  Office Supplies        Paper
9993        92683   West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 19 columns]

In [112]:

# Execute the SQL query to calculate total sales by category
query = """
SELECT Category, Max(Sales) AS TotalSales
FROM csv_superstore
GROUP BY Category
ORDER BY TotalSales DESC
LIMIT 1
"""

# Fetch the result of the query into a DataFrame
result = pd.read_sql(query, con)

# Extract the category with the maximum sales revenue
category_max_sales = result["Category"].iloc[0]

# Display the result
print("Category with Maximum Sales Revenue:", category_max_sales)

# Analyze the profit in the category with maximum sales revenue
query_profit = """
SELECT Category, SUM(Profit) AS TotalProfit
FROM csv_superstore
WHERE Category = '{}'
GROUP BY Category
""".format(category_max_sales)

# Fetch the result of the query into a DataFrame
result_profit = pd.read_sql(query_profit, con)

# Extract the total profit in the category with maximum sales revenue
total_profit = result_profit["TotalProfit"].iloc[0]
print("Total Profit in the Category:", total_profit)

# Check if there are any categories with negative profit (loss)
query_loss = """
SELECT Category
FROM csv_superstore
WHERE Profit < 0
GROUP BY Category
"""

# Fetch the result of the query into a DataFrame
result_loss = pd.read_sql(query_loss, con)

if len(result_loss) > 0:
    print("Categories with Loss:")
    for category in result_loss["Category"]:
        print(category)

# Close the connection
con.close()

Category with Maximum Sales Revenue: Technology
Total Profit in the Category: 145454.9480999999
Categories with Loss:
Furniture
Office Supplies
Technology

In [ ]:


# Establish a connection to the SQLite database
conn = sqlite3.connect('products.db')

# Write your SQL query to retrieve the 5 states with maximum sales revenue
query_max_sales = """
SELECT "State", SUM(Sales) AS TotalSales
FROM csv_superstore
GROUP BY "State"
ORDER BY TotalSales DESC
LIMIT 5
"""

# Fetch the result of the query into a DataFrame
result_max_sales = pd.read_sql(query_max_sales, conn)

print("States with Maximum Sales Revenue:")
print(result_max_sales)

# Write your SQL query to retrieve the 5 states with minimum sales revenue
query_min_sales = """
SELECT "State", SUM(Sales) AS TotalSales
FROM csv_superstore
GROUP BY "State"
ORDER BY TotalSales ASC
LIMIT 5
"""

# Fetch the result of the query into a DataFrame
result_min_sales = pd.read_sql(query_min_sales, conn)

print("\nStates with Minimum Sales Revenue:")
print(result_min_sales)

# Close the connection
conn.close()

States with Maximum Sales Revenue:
  "State"    TotalSales
0   State  2.297201e+06

States with Minimum Sales Revenue:
  "State"    TotalSales
0   State  2.297201e+06

In [ ]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('products.db')

# Define a common table expression (CTE) to add year and month columns
query_cte = """
WITH sales_with_ym AS (
    SELECT *, strftime('%Y', [Order Date]) AS Year, strftime('%m', [Order Date]) AS Month
    FROM csv_superstore
)

"""

# Query for the 3 products in each product segment with the highest sales
query_top_sales = query_cte + """
SELECT Segment, [Product Name], SUM(Sales) AS TotalSales
FROM sales_with_ym
GROUP BY Segment, [Product Name]
ORDER BY Segment, TotalSales DESC
LIMIT 3
"""

# Query for the 3 most profitable products in each product segment
query_top_profit = query_cte + """
SELECT Segment, [Product Name], SUM(Profit) AS TotalProfit
FROM sales_with_ym
GROUP BY Segment, [Product Name]
ORDER BY Segment, TotalProfit DESC
LIMIT 3
"""

# Query for the 3 best-selling products in each product segment (quantity-wise)
query_top_quantity = query_cte + """
SELECT Segment, [Product Name], SUM(Quantity) AS TotalQuantity
FROM sales_with_ym
GROUP BY Segment, [Product Name]
ORDER BY Segment, TotalQuantity DESC
LIMIT 3
"""

# Query for the top 3 worst-selling products in each category (quantity-wise)
query_worst_quantity = query_cte + """
SELECT Category, [Product Name], SUM(Quantity) AS TotalQuantity
FROM sales_with_ym
GROUP BY Category, [Product Name]
ORDER BY Category, TotalQuantity ASC
LIMIT 3
"""

# Fetch the result of each query into a DataFrame
result_top_sales = pd.read_sql(query_top_sales, conn)
result_top_profit = pd.read_sql(query_top_profit, conn)
result_top_quantity = pd.read_sql(query_top_quantity, conn)
result_worst_quantity = pd.read_sql(query_worst_quantity, conn)

# Display the results
print("Top 3 products in each product segment with the highest sales:")
print(result_top_sales)
print("\nTop 3 most profitable products in each product segment:")
print(result_top_profit)
print("\nTop 3 best-selling products in each product segment (quantity-wise):")
print(result_top_quantity)
print("\nTop 3 worst-selling products in each category (quantity-wise):")
print(result_worst_quantity)

# Query to count the unique customers per month in 2016
query_unique_customers = """
SELECT strftime('%Y', [Order Date]) AS Year, strftime('%m', [Order Date]) AS Month, COUNT(DISTINCT [Customer Name]) AS UniqueCustomers
FROM csv_superstore
WHERE Year = '2016'
GROUP BY Year, Month
"""

# Fetch the result of the query into a DataFrame
result_unique_customers = pd.read_sql(query_unique_customers, conn)

# Display the results
print("\nUnique customers per month in 2016:")
print(result_unique_customers)

# Close the connection
conn.close()

Top 3 products in each product segment with the highest sales:
    Segment                                       Product Name  TotalSales
0  Consumer              Canon imageCLASS 2200 Advanced Copier   32899.906
1  Consumer  HP Designjet T520 Inkjet Large Format Printer ...   18374.895
2  Consumer       HON 5400 Series Task Chairs for Big and Tall   17384.304

Top 3 most profitable products in each product segment:
    Segment                                       Product Name  TotalProfit
0  Consumer              Canon imageCLASS 2200 Advanced Copier   12879.9632
1  Consumer               Ibico EPK-21 Electric Binding System    4630.4755
2  Consumer  HP Designjet T520 Inkjet Large Format Printer ...    4094.9766

Top 3 best-selling products in each product segment (quantity-wise):
    Segment             Product Name  TotalQuantity
0  Consumer          Staple envelope            104
1  Consumer                  Staples             97
2  Consumer  Staples in misc. colors             75

Top 3 worst-selling products in each category (quantity-wise):
    Category                                       Product Name  TotalQuantity
0  Furniture  Bush Saratoga Collection 5-Shelf Bookcase, Han...              1
1  Furniture  Global Enterprise Series Seating Low-Back Swiv...              1
2  Furniture  Barricks Non-Folding Utility Table with Steel ...              2

Unique customers per month in 2016:
Empty DataFrame
Columns: [Year, Month, UniqueCustomers]
Index: []